In [21]:
import pandas as pd
import datetime 
import time
import numpy as np

In [ ]:
user_df = pd.read_csv('./book_dataset/user_id_map.csv')
book_df = pd.read_csv('./book_dataset/book_id_map.csv')

In [2]:
user_df.head()

   user_id_csv                           user_id
0            0  8842281e1d1347389f2ab93d60773d4d
1            1  72fb0d0087d28c832f15776b0d936598
2            2  ab2923b738ea3082f5f3efcbbfacb218
3            3  d986f354a045ffb91234e4af4d1b12fd
4            4  7504b2aee1ecb5b2872d3da381c6c91e

In [3]:
book_df.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [5]:
user_dict = dict()
for i in range(len(user_df)):
    user_dict[user_df['user_id'][i]] = user_df['user_id_csv'][i]

book_dict = dict()
for i in range(len(book_df)):
    book_dict[book_df['book_id'][i]] = book_df['book_id_csv'][i]

In [6]:
book_dict[12961964], user_dict['8842281e1d1347389f2ab93d60773d4d']

(243, 0)

In [22]:
review_df = pd.read_json('./book_dataset/goodreads_reviews_spoiler.json', lines=True)
review_df.head()

KeyboardInterrupt:

In [12]:
review_df = review_df.drop(columns=['review_sentences','has_spoiler','review_id', 'rating'])
review_df.head()

                            user_id  timestamp   book_id
0  8842281e1d1347389f2ab93d60773d4d 2017-08-30  18245960
1  8842281e1d1347389f2ab93d60773d4d 2017-03-22     16981
2  8842281e1d1347389f2ab93d60773d4d 2017-03-20  28684704
3  8842281e1d1347389f2ab93d60773d4d 2016-11-09  27161156
4  8842281e1d1347389f2ab93d60773d4d 2016-04-25  25884323

In [9]:
copied_review_df = review_df.copy()

In [15]:
np_reviews = review_df[:][:].to_numpy()

In [38]:
import json
import numpy as np
book_publish_dates = []

with open("./book_dataset/goodreads_books.json", "r") as f:
    for num, line in enumerate(f):
        if num < 20 :
            d = json.loads(line)
            if d['publication_year'] == '':
                d['publication_year'] = '1777'
            if d['publication_month'] == '':
                d['publication_month'] = str(np.random.randint(1, 12))
            if d['publication_day'] == '':
                d['publication_day'] = str(np.random.randint(1, 25))
            timestamp =  pd.Timestamp(datetime.datetime.strptime(d['publication_year'] + ' '+ d['publication_month'] + ' '+ d['publication_day'],
                                         '%Y %m %d')  + datetime.timedelta(seconds=np.random.randint(3600 * 24)))
            book_publish_dates.append([d['book_id'], timestamp, d['title']])

bp_df = pd.DataFrame(data=book_publish_dates, columns=['book_id', 'timestamp', 'title'])
bp_df.to_csv('./book_dataset/book_publish_dates.csv', index=False)

In [23]:
datetime.datetime(2012,12,1)

datetime.datetime(2012, 12, 1, 0, 0)

In [ ]:
movie_info_df = pd.read_json('./book_dataset/goodreads_books.json', lines=True)
movie_info_df.head()

In [22]:

np_reviews[:3, 1] + datetime.timedelta(seconds=11)

array([Timestamp('2017-08-30 00:00:11'), Timestamp('2017-03-22 00:00:11'),
       Timestamp('2017-03-20 00:00:11')], dtype=object)

In [48]:
# convert timestamp to unixtime
import datetime 
import time
import numpy as np

for i in range(len(copied_review_df)):
    sample_date = copied_review_df['timestamp'][i]
    random_seconds = np.random.randint(3600 * 24)
    end_date = sample_date + datetime.timedelta(seconds=random_seconds)
    unixtime = time.mktime(end_date.timetuple())
    copied_review_df['timestamp'][i] = unixtime

copied_review_df.head()

/home/dbadmin/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/dbadmin/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                            user_id    timestamp  rating   book_id
0  8842281e1d1347389f2ab93d60773d4d  1.50405e+09       5  18245960
1  8842281e1d1347389f2ab93d60773d4d  1.49012e+09       3     16981
2  8842281e1d1347389f2ab93d60773d4d  1.49002e+09       3  28684704
3  8842281e1d1347389f2ab93d60773d4d  1.47863e+09       0  27161156
4  8842281e1d1347389f2ab93d60773d4d  1.46158e+09       4  25884323

In [36]:
random_seconds = np.random.randint(3600 * 24, size=10)
print(random_seconds)
end_date = example_d + datetime.timedelta(seconds=random_seconds)

print(end_date)

[80562 12002 11558 75642  5657 57922 50344 42305 18838 68569]

TypeError: unsupported type for timedelta seconds component: numpy.ndarray

In [ ]:
book_info_df = pd.read_json('./book_dataset/goodreads_books.json')